.services {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secend-color);
  border-radius: var(--border-radius);
  margin-top: 6rem;
  box-shadow: var(--box-shadow);  }
  
  .services-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .service-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--secend-color);
    transition: 0.5s ease;
  }
  
  .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
  }
  
  .service-box i {
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 2rem;
  }
  
  .service-box h3 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  
  .service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .service-box {
      flex: 1 1 100%;
    }
  }