@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --text-color: #fff;
  --main-color: rgb(255, 242, 0);
  --secend-color: #313843;

  --padding-size: 2rem;
  --box-shadow: 0 0 1rem var(--main-color);
  --border-radius: 2rem;
  --margin-primary: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
