@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --text-color: #fff;
  --main-color: rgb(255, 242, 0);
  --secend-color: #313843;
  --padding-size: 2rem;
  --box-shadow: 0 0 1rem var(--main-color);
  --border-radius: 2rem;
  --margin-primary: 2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--secend-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-top: 3rem;
  transition: 0.5s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2rem var(--main-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 5rem;
}

span {
  color: var(--main-color);
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  
  section {
    padding: 8rem 5% 2rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}